@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYBLACKITALIC.OTF);
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYBOLD.OTF);
	font-weight: bold;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYHEAVYITALIC.OTF);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYLIGHTITALIC.OTF);
	font-style: italic;
	font-weight: lighter;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYMEDIUM.OTF);
	font-weight: 500;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYSEMIBOLDITALIC.OTF);
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYTHINITALIC.OTF);
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(../font/SFPRODISPLAYULTRALIGHTITALIC.OTF);
	font-style: italic;
	font-weight: 100;
}
